h1 {
    text-align: center;
    color: orangered;
}

main {
    font-size: larger;
    text-rendering: auto;
    color:maroon;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}

.pduck {
    background-image:url("duck_poor.jpg");
    padding-bottom: 500px;
}