h1 {
    color: orangered;
    text-align:center;
}

main {
    padding-left: 100px;
    padding-right: 100px;
    font-size: larger;
    text-rendering: auto;
    color:maroon;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    padding-left: 50px;
}

#a2 {
    color: white;
     background: maroon;
     padding-bottom: 10px;
}
